h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -3px;
  @media (max-width:991px) {
    font-size: 32px;
  }
 }
h5 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: Vollkorn, serif;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  @media (max-width:991px) {
    font-size: 15px;
  }
}
