.hamburger {
  position: absolute;
  top: 0px;
  right: 19px;
  z-index: 80;
  margin-top: 30px;
  padding-top: 10px;
  width: 60px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .hamburger-container{
      width: 50%;
      height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  span{
      height: 2px;
      width: 17px;
      background-color: white;
    border-radius: 25%;

  }
  @media (min-width:990px) {
      display: none;
  }
}
