.nav-link {
    padding-top: 13px;
    padding-right: 35px;
    padding-left: 35px;
    float: none;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 13px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
    @media (max-width: 990px) {
        display: none;
    }
  }