.Quotes {
  padding: 100px 20px;
  text-align: center;
  @media (max-width:991px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .quoteText {
    font-family: "Source Sans Pro", sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1.5px;
    transition: all 600ms ease;
    @media (max-width:991px) {
      font-size: 17px;
    }
    &[data-active="active"] {
      opacity: 1;
    }
  }
  p {
    margin-bottom: 5px;
    font-family: "Source Sans Pro", sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
}
