.header {
  height: 100%;
  padding: 20px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: opacity 750ms ease 0s;
  overflow: hidden;
}
