    .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition:all 600ms ease;
  
    &[data-active="active"]{
      opacity: 1;
    }
  }
  .slider-wrapper {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  
  
  .slide-container {
    width: 75%;
    margin-bottom: 275px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
  }
  .arrow-container{
      position: absolute;
      width: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      @media (max-width: 990px) {
        display: none;
    }
  }
  .right-arrow-container{
      right: 0px;
  }
  
  .leftArrow,
  .rightArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    color: aliceblue;
    cursor: pointer;
    // z-index: 50;
    transition: all 500ms ease;
    // &:hover{
    //     background-color: rgba(51, 51, 51, 0.49);
    // }
  }
  .rightArrow {
    right: 0px;
  }
  .leftArrow {
    left: 0px;
  }