* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  min-height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
html{
  scroll-behavior: smooth;
}
