.photoBox-cont{
    display: flex;
    width: 50%;
    .photoBox{
        height: 600px;
        // background-image: url('https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55290b3f3869f6db4ed16c57_desk1.jpeg');
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        @media (max-width: 991px) {
            height: 400px;
        }
    }
}

